<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
<h3>🏥 Netra Hospital Management System</h3>
</div>
<div class="sidebar">
<h2>🏥 Hospital</h2>
<a href="/dashboard">Dashboard</a>
<a href="/doctors">Doctors</a>
<a href="/my_appointments">My Appointments</a>
<a href="/logout">Logout</a>
</div>

<div class="content">
<h1>Welcome Patient 👋</h1>

<div class="card">
<h3>Hospital Management System</h3>
<p>Book doctors, manage appointments and reports easily.</p>
</div>

</div>

</body>
</html>
